{% extends 'flatpages/default.html' %}

{% block title %}
{{ flatpage.title }}
{% endblock title %}

{% block content %}
    <h2>{{ flatpage.title }}</h2>
    <hr>
    <h3>Наши контрагенты:</h3>

<table class="Table table-bordered">
    <thead>
        <tr>
            {% for k in header %}
            <th>{{k}}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for r in rows %}
            <tr>
                <td>{{r.id}}</td>
                <td>{{r.Name}}</td>
                <td>{{r.Begin_date}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{{ flatpage.content }}
{% endblock content %}