{% extends 'flatpages/default.html' %}
{% load static %}
{% load martortags %}
{% block title %}
adverts
{% endblock title %}
<img src="../static/media/adverts/create.jpg" width="20">
{% block content %}
   <h1>All the adverts ({{adverts|length}})</h1>
       <p>
           <img src="../static/media/adverts/create.jpg" width="20">
           <a href="/adverts/create">Create advert</a> |
           <a href="/articles/create">Create article</a>
       </p>
   {# Add form with fields to handle (applying filter) #}
   <form action="" method="get" id="filterForm">
       {# context variable #}
       <table align="center">
           <tr>
               <td>
                   <p> {{ filter_set.form.date_range.label }} </p>
               </td>
               <td>
                   <p> {{ filter_set.form.date_range }} </p>
               </td>
           </tr>
           <tr>
               <td>
                   <p> {{ filter_set.form.author_name.label }} </p>
                   <p> {{ filter_set.form.caption.label }} </p>
               </td>
               <td>
                   <table align="right">
                       <tr>
                           <td>
                               <p> {{filter_set.form.author_name}} </p>
                               <p> {{filter_set.form.caption}} </p>
                           </td>
                           <td></td><td></td>
                           <td>
                               <p> {{filter_set.form.category.label}} {{filter_set.form.category}} </p>
                           </td>
                       </tr>
                   </table>

               </td>
           </tr>
       </table>

   </form>


   <hr>

    {% if adverts %}
        <style>
          p {
            color: red;
          }
          .paragraph1 {
            font-size: 18px;
          }
          .paragraph2 {
            font-size: 13px;
            color: #9fa0a4
          }
          A {
            text-decoration: none;
            color: black
          }
        </style>
       <table  align="center">
           <tr bgcolor="9F9F9F">
               <td>Caption</td>
               <td>Posted at</td>
               <td>Preview</td>
           </tr>

           {% for advert in adverts %}
           <tr>
               <td width = "40%" align="justify">{{ advert.caption }}</td>
               <td width = "20%" class="paragraph2">&nbsp;&nbsp;{{ advert.posted_at|date:'d M Y' }}</td>
               <td align="justify">
                   <a href="/adverts/{{advert.id}}">&nbsp;&nbsp;{{ advert.text|truncatewords:20 }}</a>
               </td>
               <td align="justify">
                   {{ advert.description|safe_markdown }}
               </td>
               {% if advert.post_type == "AD" %}
                   <td align="justify">
                       <a href="/adverts/{{advert.id}}/update"> <img src="../static/media/update.jpg" width="20"> </a>
                   </td>
                   <td align="justify">
                       <a href="/adverts/{{advert.id}}/delete"> <img src="../static/media/delete.jpg" width="20"> </a>
                   </td>
               {% elif advert.post_type == "AR" %}
                    <td align="justify">
                       <a href="/articles/{{advert.id}}/update"> <img src="../static/media/update.jpg" width="20"> </a>
                   </td>
                   <td align="justify">
                       <a href="/articles/{{advert.id}}/delete"> <img src="../static/media/delete.jpg" width="20"> </a>
                   </td>
               {% endif %}
           </tr>
           <tr bgcolor="9F9F9F">
               <td></td><td></td><td></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>There are no adverts and articles!</h2>
   {% endif %}


{% endblock content %}