{% extends 'flatpages/default.html' %}
{% load custom_tags %}
{% load static %}
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>All the news ({{news|length}})</h1>
       <p>
           <img src="../static/media/create.jpg" width="20">
           <a href="/news/create">Create new</a> |
           <a href="/articles/create">Create article</a>
       </p>
   {# Add form with fields to handle (applying filter) #}
   <form action="" method="get">
       {# context variable #}
       {{ filter_set.form.as_p }}
       {# Add submit button #}
       <input type="submit" value="Find" />
   </form>

   <hr>

    {% if news %}
        <style>
          p {
            color: red;
          }
          .paragraph1 {
            font-size: 18px;
          }
          .paragraph2 {
            font-size: 13px;
            color: #9fa0a4
          }
          A {
            text-decoration: none;
            color: black
          }
        </style>
       <table  align="center">
           <tr bgcolor="9F9F9F">
               <td>Caption</td>
               <td>Posted at</td>
               <td>Preview</td>
           </tr>

           {% for new in news %}
           <tr>
               <td width = "40%" align="justify">{{ new.caption }}</td>
               <td width = "20%" class="paragraph2">&nbsp;&nbsp;{{ new.posted_at|date:'d M Y' }}</td>
               <td align="justify">
                   <a href="/news/{{new.id}}">&nbsp;&nbsp;{{ new.text|truncatewords:20 }}</a>
               </td>
               {% if new.post_type == "NE" %}
                   <td align="justify">
                       <a href="/news/{{new.id}}/update"> <img src="../static/media/update.jpg" width="20"> </a>
                   </td>
                   <td align="justify">
                       <a href="/news/{{new.id}}/delete"> <img src="../static/media/delete.jpg" width="20"> </a>
                   </td>
               {% elif new.post_type == "AR" %}
                    <td align="justify">
                       <a href="/articles/{{new.id}}/update"> <img src="../static/media/update.jpg" width="20"> </a>
                   </td>
                   <td align="justify">
                       <a href="/articles/{{new.id}}/delete"> <img src="../static/media/delete.jpg" width="20"> </a>
                   </td>
               {% endif %}
           </tr>
           <tr bgcolor="9F9F9F">
               <td></td><td></td><td></td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>There are no news and articles!</h2>
   {% endif %}

{# Add pagination to the page #}

   {# Previous pages info #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Current page info #}
   {{ page_obj.number }}

   {# Following pages info #}
   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}